<launch>
    <node name="dotbot_led" pkg="dotbot_driver" type="led.py">
    </node>
    <node name="dotbot_speed" pkg="dotbot_driver" type="speed.py">
    </node>
    <node name="dotbot_input" pkg="dotbot_driver" type="input.py">
    </node>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
</launch>
